<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Find out the latest news</title>
    <style>
      body { font-family: Arial, sans-serif; line-height: 1.6; margin: 0;
      padding: 0; background-color: #f4f4f4; } .container { width: 80%;
      max-width: 600px; margin: auto; background: #fff; padding: 20px;
      border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } .header {
      text-align: center; padding-bottom: 20px; } .header h1 { margin: 0;
      font-size: 24px; } .content { line-height: 1.6; } .content p { margin: 0 0
      20px; } .footer { text-align: center; padding-top: 20px; font-size: 14px;
      color: #777; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1>
          Find out the latest news!
        </h1>
      </div>
      <div class='content'>
        <p>Hello,</p>
        <p>We hope you are doing well.</p>
        <p>We are excited to share with you our latest newsletter full of
          interesting news and updates. For your convenience, we have attached
          all the news to this email.</p>
        <p>In this edition, you will find:</p>
        <ul>
          <li><strong>Industry updates:</strong>
            The latest trends and important events.</li>
          <li><strong>Exclusive interviews:</strong>
            Conversations with leaders and experts.</li>
          <li><strong>New products and services:</strong>
            The latest from our offerings.</li>
          <li><strong>Tips and tricks:</strong>
            Useful ideas to enhance your experience.</li>
        </ul>
        <p>Don't miss any of these updates! Just open the attached file to
          access all the information.</p>

        <p>Thank you for being a part of our community.</p>
        <p>Best regards.</p>
      </div>
      <div class='footer'>
        <p>&copy; 2024 Challenge. All rights reserved.</p>
        <p><a href='{{unsubscribeURL}}'>Unsubscribe</a></p>
      </div>
    </div>
  </body>
</html>